<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>海獭Go</title>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_zoenks8rmmyousor.css">
    <link rel="stylesheet" type="text/css" href="css/newindex/index.css">
</head>

<body id="newIndex">
    <section class="newindex-panel">
        <div class="body">
            <a href="javascript:;" class="new-search" @click="showSearchInLine" v-if="!isSearchInLine">
                <span class="map">
                    <em class="icont-map"></em>
                    <em class="map-tip" v-text="city"></em>
                </span>
                <span class="search">
                    <em class="icont-search"></em>
                    <em class="search-tip">输入出发城市或目的地</em>
                </span>
            </a>
            <p class="recommend-title">推荐路线(往返)</p>
            <!-- 正常 -->
            <div class="get-recommend">
                <ul class="recommend-route" v-if="recommendCitys.length>0">
                    <li v-for="recommendCity in recommendCitys">
                        <a href="javscript:;">{{recommendCity.name}}<em>{{recommendCity.account}}条</em></a>
                    </li>
                </ul>
                <a href="javascript:;" v-if="recommendCitys.length>0" class="add" @click="showAdd">没有推荐线路？点击添加</a>
            </div>
            <!-- 定位，无法获取推荐 -->
            <div class="get-recommend-nothing" v-if="recommendCitys.length==0&&city!='未定位'">
                <p>无法获取推荐路线</p>
                <a href="javascript:;" class="add" @click="showAdd">没有推荐线路？点击添加</a>
            </div>
            <!-- 无法定位 -->
            <p class="nothing" v-if="recommendCitys.length==0&&city=='未定位'">
                无法定位当前城市，请输入出发或目的城市
                <br>
                <a href="javascript:;">查看推荐线路</a>
            </p>
        </div>
    </section>
    <h4 class="new-routers" v-if="commRouters.length>0">常用路线往返</h4>
    <ul class="newroutes-list">
        <li @click="linkRouters(commRouter.id)" v-for="commRouter in commRouters">
            <button class="btn-tag">常用</button>
            <div class="n-flex-1">
                <div class="n-flex">
                    <span class="route right">{{commRouter.start}}</span>
                    <em class="icont-round"></em>
                    <span class="route left">{{commRouter.end}}</span>
                </div>
            </div>
            <em class="icont-right"></em>
        </li>
    </ul>
    <div class="new-covers animated" v-if="isAdd" @click="closeAdd" transition="fadeIn"></div>
    <div class="new-add-panel animated" v-if="isAdd" transition="fadeDown">
        <div class="body">
            <em class="close" @click="closeAdd"></em>
            <p class="add-title">添加新路线（往返）</p>
            <div class="add-print">
                <div class="print-city">
                    <input type="text" v-model="startCity" placeholder="输入出发城市">{{showListStart}}{{!!startCity}}
                    <ul v-if="!!startCity">
                        <li v-for="address in  addressData | filterBy  startCity in 'name'  'namef_full_py' 'name_smart_py' " @click="selectedClick(address,'start')">{{address.fullname}}</li>
                    </ul>
                </div>
                <span class="icont-line">
                    <em></em>
                </span>
                <div class="print-city">
                    <input type="text" v-model="endCity" placeholder="输入到达城市" @input="input(endCity,'end')" @blur="blurInput('end')">
                    <ul v-if="showListEnd&&!!endCity">
                        <li v-for="address in  addressData | filterBy endCity" @click="selectedClick(address,'end')">{{address.fullname}}</li>
                    </ul>
                </div>
            </div>
            <a href="javascript:;" class="add-button" @click="addCommon">添加</a>
        </div>
    </div>
    <div class="new-search-list animated" v-if="isSearchInLine" @click.self="backIndex">
        <div class="body">
            <div class="search-inline">
                <div class=" blank">
                    <div class="content">
                        <span class="icont-search"></span>
                        <input id="searchInput" v-model="query" type="text" maxlength="10" @blur="searchBlur()" @input="input(query,'key')">
                        <em v-if="query!='' " class="iconfont icon-clean" @click="cleanKey"> </em>
                    </div>
                </div>
            </div>
            <ul>
                <li v-for="address in  addressData | filterBy query" @click="searchQueryRouter()">{{address.fullname}}</li>
                <li v-if="!addressData| filterBy query.length>0">没有线路</li>
            </ul>
        </div>
    </div>
    <dialog-login></dialog-login>
    <script type="text/javascript" src="http://cdn.bootcss.com/vue/1.0.28/vue.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://weixin.haitago.com/static/scripts/jsplug/common.js"></script>
    <script type="text/javascript" src="../js/newindex/address.js"></script>
    <script type="text/javascript" src="../js/newindex/login.js"></script>
    <script type="text/javascript" src="../js/city/new-index.js">
    </script>
</body>

</html>
