<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>海獭Go</title>
    <link rel="stylesheet" type="text/css" href="css/newindex/index.css">
</head>

<body>
    <section class="newindex-panel">
        <div class="body">
            <div class="new-search">
                <span class="map">
                	<em class="icont-map"></em>
                	<em class="map-tip">北京</em>
                </span>
                <span class="search">
                	<em class="icont-search"></em>
                	<em class="search-tip">输入出发城市或目的地</em>
                </span>
            </div>
            <p class="recommend-title">推荐路线(往返)</p>
            <!-- 正常 -->
            <div class="get-recommend">
                <ul class="recommend-route">
                    <li><a href="javscript:;">济南<em>120条</em></a></li>
                    <li><a href="javscript:;">石家庄<em>120条</em></a></li>
                    <li><a href="javscript:;">青岛<em>120条</em></a></li>
                    <li><a href="javscript:;">乌鲁木齐<em>120条</em></a></li>
                    <li><a href="javscript:;">长沙<em>120条</em></a></li>
                    <!-- <li><a href="javscript:;">济南<em>120条</em></a></li>
                	<li><a href="javscript:;">济南<em>120条</em></a></li>
                	<li><a href="javscript:;">济南<em>120条</em></a></li>
                	<li><a href="javscript:;">济南<em>120条</em></a></li> -->
                </ul>
                <a href="javascript:;" class="add">没有推荐线路？点击添加</a>
            </div>
            <!-- 定位，无法获取推荐 -->
            <!-- <div class="get-recommend-nothing">
                <p>无法获取推荐路线</p>
                <a href="javascript:;" class="add">没有推荐线路？点击添加</a>
            </div> -->
            <!-- 无法定位 -->
            <!--      <p class="nothing">
            	无法定位当前城市，请输入出发或目的城市<br>
            	<a href="javascript:;">查看推荐线路</a>
            </p> -->
        </div>
    </section>
    <h4 class="new-routers">常用路线往返</h4>
    <ul class="newroutes-list">
        <li>
            <button class="btn-tag">常用</button>
            <div class="n-flex-1">
                <div class="n-flex">
                    <span class="route right">北京</span>
                    <em class="icont-round"></em>
                    <span class="route left">乌鲁木齐</span>
                </div>
            </div>
            <em class="icont-right"></em>
        </li>
        <li>
            <button class="btn-tag">常用</button>
            <div class="n-flex-1">
                <div class="n-flex">
                    <span class="route right">石家庄</span>
                    <em class="icont-round"></em>
                    <span class="route left">济南</span>
                </div>
            </div>
            <em class="icont-right"></em>
        </li>
        <li>
            <button class="btn-tag">常用</button>
            <div class="n-flex-1">
                <div class="n-flex">
                    <span class="route right">成都</span>
                    <em class="icont-round"></em>
                    <span class="route left">峨眉</span>
                </div>
            </div>
            <em class="icont-right"></em>
        </li>
    </ul>
</body>

</html>
