<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>海獭Go</title>
    <link rel="stylesheet" type="text/css" href="css/newindex/index.css">
</head>

<body>
    <div class="new-search-list animated" v-if="isSearchInLine">
        <div class="body">
            <div class="search-inline">
                <div class=" blank">
                    <div class="content">
                        <span class="icont-search"></span>
                        <input id="searchInput" v-model="query" type="text" maxlength="10" @blur="searchBlur()" @input="input(query,'key')">
                    </div>
                </div>
            </div>
            <ul>
                <li v-for="type in  addressData | filterBy query" @click="selectedClick(type.split('|')[1],'key')">{{type.split('|')[1]}}</li>
                <li v-if="!addressData| filterBy query.length>0">没有线路</li>
            </ul>
        </div>
    </div>
</body>

</html>
