/**
 * 新版本首页
 * ypf
 * 2016-12-20
 */

@import url(../reset.css);
@import '../_mixs';
//新panel 
.newindex-panel {
    padding: .16rem .2rem 0 .2rem;
    .body {
        background: $colorfff;
        @include boder-style-radius($colord9, .04rem);
        padding: .32rem .3rem .32rem .3rem;
    }
    .recommend-title {
        margin-top: .46rem;
        font-size: $font28;
        color: $color666;
    }
    .get-recommend {
        text-align: center;
        font-size: 0;
        ul.recommend-route {
            margin: .32rem 0 .28rem -4%;
            @extend .clearfix;
            li {
                // max-width: 29.333333333333332%;
                margin-left: 2%;
                float: left;
                a {
                    display: block;
                    background: #f5f5f5;
                    height: .6rem;
                    line-height: .6rem;
                    margin-bottom: .18rem;
                    font-size: $font28;
                    border-radius: .04rem;
                    color: $color333;
                    padding: 0 .24rem;
                    em {
                        color: $color999;
                        margin-left: .16rem;
                    }
                }
            }
        }
    }
    .get-recommend-nothing {
        text-align: center;
        font-size: 0;
        p {
            margin: .72rem 0;
            color: $color999;
            font-size: $font28;
        }
    }
    .nothing {
        margin-top: .48rem;
        text-align: center;
        font-size: $font28;
        color: $color999;
        line-height: 140%;
        a {
            color: $color999;
        }
    }
    a.add {
        font-size: $font26;
        color: $color3e9;
    }
}

//搜索框
.new-search {
    background: $colorf4f;
    display: flex;
    @include boder-style-radius($colord9, .44rem);
    line-height: .44rem;
    padding: .2rem 0 .2rem .38rem;
    font-size: 0;
    .map {
        padding-right: .2rem;
        border-right: 1px solid $colorbd;
        .icont-map {
            display: inline-block;
            width: .24rem;
            height: .32rem;
            background: url('../../images/addroute_location.png') center no-repeat;
            background-size: cover;
            vertical-align: middle;
        }
        .map-tip {
            vertical-align: middle;
            margin-left: .12rem;
            font-size: $font28;
            color: $color4ed;
        }
    }
    .search {
        @extend .n-flex-1;
        padding-left: .3rem;
        font-size: $font28;
        color: $colorbd;
        .icont-search {
            display: inline-block;
            width: .38rem;
            height: .38rem;
            background: url('../../images/addroute_search.png') center no-repeat;
            background-size: cover;
            vertical-align: middle;
        }
        .search-tip {
            margin-left: .2rem;
            vertical-align: middle;
        }
    }
}

h4.new-routers {
    font-size: $font30;
    margin: .58rem 0 .28rem;
    padding: 0 .32rem;
}

ul.newroutes-list {
    padding: 0 .2rem;
    li {
        position: relative;
        background: $colorfff;
        margin-bottom: .1rem;
        @include boder-style-radius(#ececec,
        .04rem);
        font-size: $font28;
        height: .9rem;
        line-height: .9rem;
        padding-left: .28rem;
        @extend .n-flex;
        align-items: center;
        em.icont-right {
            position: absolute;
            display: inline-block;
            width: .32rem;
            height: .32rem;
            right: .18rem;
            top: 50%;
            margin-top: -.16rem;
            background: url(../../images/addroute_icon_round.png) no-repeat;
            background-size: cover;
        }
        .n-flex-1 {
            padding-right: .32rem;
             height: 100%;
            .n-flex {
            	 align-items: center;
            	 height: 100%;
                em.icont-round {
                	display: inline-block;
                    width: .32rem;
                    height: .32rem;
                    background: url(../../images/addroute_icon_round.png) no-repeat;
                    background-size: cover;
                }
                .route{
                	@extend .n-flex-1;
                	padding: 0;
                	&.right{
                		padding-right:.32rem;
                	}
                	&.left{
                		padding-left: .32rem;
                	}
                }
            }
        }
        button.btn-tag {
            display: inline-block;
            width: .9rem;
            height: .5rem;
            background: #4e4d5d;
            @include boder-style-radius(transparent,
            .04rem);
            color: $colorfff;
            font-size: $font24;
            letter-spacing: .04rem;
        }
    }
}
